@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primaryColor: #8cc8f5;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.1s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--mainBlack);
  background-color: #ffffff;
  font-size: 1rem;
  margin: 0;
  height: 100%;
  margin-bottom: -50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  text-align: center;
}

span {
  color: var(--primaryColor);
}

hr {
  margin: 20px 0 20px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ---------------------------------- BUTTONS ---------------------------------- */

.btn-primary {
  border: 1px solid black;
  background: var(--mainBlack);
  color: var(--mainWhite);
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* ---------------------------------- HOMEPAGE ---------------------------------- */

.packs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 85vw;
  margin: 0 auto;
}

.pack-card {
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.pack-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.pack-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-5px);
}
.pack-card:active {
  transform: translateY(4px);
}
@media screen and (max-width: 528px) {
  .packs-container {
    grid-template-columns: 1fr;
    width: 80vw;
  }
}

/* ---------------------------------- NAV BAR ---------------------------------- */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.nav-header a {
  text-decoration: none;
  font-size: 28px;
  color: var(--mainBlack);
  cursor: pointer;
}

.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-icon {
  color: var(--mainBlack);
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: 320px;
}

.show-small-nav {
  height: 150px;
}

.nav-links li {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.nav-links li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 792px) {
  .logo-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
}



/* ---------------------------------- LOGIN ---------------------------------- */



/* ---------------------------------- PACK SHOW ---------------------------------- */

.deets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border-radius: 10px;
  transition: 0.3s; 
  justify-content: center;
  text-align: center;
  cursor: pointer;
  grid-gap: 40px;
  width: 85vw;
  margin: 0 auto;
}
.deets-card {
  display: grid;
  max-width: 600px;
  background: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.deets-image {
  width: 100%;
  max-width: 600px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}
.deets-preview {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}
#play {
  display: flex;
}
.pack-bttn {
	background: linear-gradient(to bottom, var(--mainGrey) 5%, var(--darkGrey) 100%);
	border-radius: 6px;
	cursor: pointer;
	color: var(--mainBlack);
	font-size: 16px;
	font-weight: bold;
  padding: 14px;
  width: 30%;
  margin: 30px;
}
.pack-bttn:hover {
	background: linear-gradient(to bottom, var(--darkGrey) 5%, var(--mainGrey) 100%);
}
.pack-bttn:active {
	position: relative;
	top: 1px;
}
.pack-stats {
  display: grid;
  max-width: 600px;
  background: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  padding: 30px 15%;
}

/* ---------------------------------- PACK NEW ---------------------------------- */
.pack-new-page-container {
  width: 80vw;
  margin: 0 auto;
}

.pack-new-page-container > h2 {
  text-align: center;
}

.new-pack-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  justify-items: center;
  text-align: left;
}

.new-pack-form input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
}

@media screen and (max-width: 528px) {
  .pack-new-page-container {
    width: 90vw;
  }
  .new-pack-form input[type=text] {
    width: 90%;
  }
}

/* ---------------------------------- PACK EDIT ---------------------------------- */
.pack-edit-page-container {
  width: 80vw;
  margin: 0 auto;
}

.pack-edit-page-container > h2 {
  text-align: center;
}

.pack-edit-page-container img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.edit-header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.edit-pack-form, 
.edit-card-form,
.new-card-form  {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  justify-items: center;
  text-align: left;
}

.edit-pack-form input[type=text], 
.edit-card-form input[type=text],
.new-card-form input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
}

.edit-card-form input[type=text] {
  width: 40%;
}

#card-form {
  width: 50vw;
  margin-bottom: 50px;
}

.add-cards-container {
  display: grid;
  justify-content: center;
  text-align: center;
}

.add-cards-container > h2 {
  text-align: center;
}

.new-card-type {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.cards-container {
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-rows: 10fr 1fr 10fr;
  align-content: center;
  background: var(--mainWhite);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  align-items: center;
  width: 500px;
  height: 300px;
}

.card:not(:first-child) {
  margin-left: -2.5rem;
}

.card:not(:last-child):hover,
.card:not(:last-child):focus-within,
.card:not(:last-child):focus-within ~ .card  {
  transform: translateY(-1.5rem);
}

.card:not(:last-child):focus-within ~ .card {
  transform: translateX(2rem);
}

@media screen and (max-width: 728px) {
  .pack-edit-page-container {
    width: 90vw;
  }

  .edit-header {
    grid-template-columns: 1fr;
  }

  .edit-card-form input[type=text] {
    width: 80%;
  }
  .new-card-form input[type=text] {
    width: 80%;
  }

  .cards-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
  }

  .card {
    width: 80%
  }

  .card:not(:first-child) {
    margin-left: 0;
  }
  
  .card:not(:last-child):hover,
  .card:not(:last-child):focus-within,
  .card:not(:last-child):focus-within ~ .card  {
    transform: none;
  }
  
  .card:not(:last-child):focus-within ~ .card {
    transform: none;
  }

  #card-form {
    width: 80vw;
    margin-bottom: 50px;
    margin: 50px auto;
  }
}

/* ---------------------------------- PACK PLAY ---------------------------------- */

#multi-choice {
  padding-bottom: 30px;
}
.multi-answer-bttn {
	background: linear-gradient(to bottom, var(--mainGrey) 5%, var(--darkGrey) 100%);
	border-radius: 6px;
	cursor: pointer;
	color: var(--mainBlack);
	font-size: 16px;
	font-weight: bold;
  padding: 14px;
  max-width: 100%;
  min-width: 30%;
  margin-bottom: 10px;
  text-align: left;
}
.multi-answer-bttn:hover {
	background: linear-gradient(to bottom, var(--darkGrey) 5%, var(--mainGrey) 100%);
}
.multi-answer-bttn:active {
	position: relative;
	top: 1px;
}
#answer {
  margin-top: 40px;
}

/* ---------------------------------- STATS ---------------------------------- */

.stats-table {
  background-color: var(--mainGrey);
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-self: center;
  max-width: 600px;
  margin: 0px auto 40px auto;
  padding: 20px;
}

.table-cell {
  padding: 10px;
}

.heading-cell {
  font-weight: bold;
  font-size: 20px;
}

.stat-cell {
  text-align: center;
}

/* ---------------------------------- LOGIN MODAL ---------------------------------- */

*:focus {
  outline: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.profile label {
  font-size: 12px;
}

.modal .overlay {
 /* grey transparent background for modal */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.7);
}

.modal .modal_content {
  /* modal content page */
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 25vw; /* This just a default width */
}

.modal_content > h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
}

#login-form, #profile-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
}

.modal .modal_content .buttons_wrapper {
  padding: 20px;
}

.modal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
  opacity: 0.9;
}

@media screen and (max-width: 928px) {
  .modal .modal_content {
    width: 50vw;
  }
}

@media screen and (max-width: 528px) {
  .modal .modal_content {
    width: 80vw;
  }
}

/* ---------------------------------- LOGIN MODAL ---------------------------------- */
.footer {
  margin-top: 30px;
  background: var(--mainBlack);
  padding: 2rem;
  text-align: center;
  height: 50px;
  color: var(--mainWhite);
}