@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.1s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--mainBlack);
  background: var(--mainGrey);
  font-size: 1rem;
  margin: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  text-align: center;
}

/* ---------------------------------- HOMEPAGE ---------------------------------- */

.packs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 85vw;
  margin: 0 auto;
}

.pack-card {
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.pack-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.pack-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 528px) {
  .packs-container {
    grid-template-columns: 1fr;
    width: 80vw;
  }
}

/* ---------------------------------- NAV BAR ---------------------------------- */

header {
  margin-bottom: 20px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.nav-header a {
  text-decoration: none;
  font-size: 28px;
  color: var(--mainBlack);
}

.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-icon {
  color: var(--mainBlack);
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: 175px;
}

.nav-links li {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.nav-links li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
}



/* ---------------------------------- LOGIN ---------------------------------- */



/* ---------------------------------- PACK SHOW ---------------------------------- */



/* ---------------------------------- PACK EDIT ---------------------------------- */



/* ---------------------------------- PACK PLAY ---------------------------------- */



/* ---------------------------------- USER ---------------------------------- */
