@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primaryColor: #254fac;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.1s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--mainBlack);
  background-color: #ffffff;
  font-size: 1rem;
  margin: 0 20px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

h1 {
  text-align: center;
}

/* ---------------------------------- BUTTONS ---------------------------------- */

.btn-primary {
  border: 1px solid black;
  background: var(--mainBlack);
  color: var(--mainWhite);
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* ---------------------------------- HOMEPAGE ---------------------------------- */

.packs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 85vw;
  margin: 0 auto;
}

.pack-card {
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.pack-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.pack-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 528px) {
  .packs-container {
    grid-template-columns: 1fr;
    width: 80vw;
  }
}

/* ---------------------------------- NAV BAR ---------------------------------- */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}

.nav-header a {
  text-decoration: none;
  font-size: 28px;
  color: var(--mainBlack);
}

.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}

.logo-btn:hover {
  cursor: pointer;
}

.logo-icon {
  color: var(--mainBlack);
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}

.show-nav {
  height: 175px;
}

.show-small-nav {
  height: 70px;
}

.nav-links li {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.nav-links li:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 792px) {
  .logo-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
}



/* ---------------------------------- LOGIN ---------------------------------- */



/* ---------------------------------- PACK SHOW ---------------------------------- */

.deets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border-radius: 10px;
  transition: 0.3s; 
  justify-content: center;
  text-align: center;
  cursor: pointer;
  grid-gap: 40px;
}

.deets-card {
  display: grid;
  max-width: 600px;
  background: var(--mainWhite);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.deets-image {
  width: 100%;
  max-width: 600px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.deets-preview {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}

#start-form {
  max-width: 500px;
  padding: 10px 20px;
  background: var(--offWhite);
  margin: 50px auto;
  border-radius: 8px;
}
#start-form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
#start-stuff {
  display: flex;
}
#start-form input[type="number"]{
  background: var(--mainGrey);
  border: none;
  border-radius: 6px;
  font-size: 30px;
  padding: 10px;
  width: 30%;
  margin: 30px;
}
#start-form input[type="number"]:focus{
  outline: none;
}
.start-form-bttn {
	background: linear-gradient(to bottom, var(--mainGrey) 5%, var(--darkGrey) 100%);
	border-radius: 6px;
	cursor: pointer;
	color: var(--mainBlack);
	font-size: 16px;
	font-weight: bold;
  padding: 14px;
  width: 30%;
  margin: 30px;
}
.start-form-bttn:hover {
	background: linear-gradient(to bottom, var(--darkGrey) 5%, var(--mainGrey) 100%);
}
.start-form-bttn:active {
	position: relative;
	top: 1px;
}

/* ---------------------------------- PACK EDIT ---------------------------------- */



/* ---------------------------------- PACK PLAY ---------------------------------- */



/* ---------------------------------- USER ---------------------------------- */



/* ---------------------------------- LOGIN MODAL ---------------------------------- */

*:focus {
  outline: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
 /* grey transparent background for modal */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0,0,0,0.7);
}

.modal .modal_content {
  /* modal content page */
  z-index: 999;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 25vw; /* This just a default width */
}

.modal_content > h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
}

.modal .modal_content > form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.modal .modal_content .buttons_wrapper {
  padding: 20px;
}

.modal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
  opacity: 0.9;
}

@media screen and (max-width: 928px) {
  .modal .modal_content {
    width: 50vw;
  }
}

@media screen and (max-width: 528px) {
  .modal .modal_content {
    width: 80vw;
  }
}